<head>
    <script src="js/head.js"></script>
</head>

<!-- Incoming Messages Modal -->
<div class="modal fade" id="MessagesModal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="messages" class="row">
                    <%var count=0; if (user && user.messages) user.messages.forEach(function(message){if (message.has_read==false) count++}); %>
                    <div id="count" count="<%=count%>"></div>
                    <%if (user && user.messages){ user.messages.forEach(function(message){ if (message.has_read==false){%>
                    <div id="<%=message._id%>" class="col-lg-<%=12/user.messages.length%>">
                        <label>From:</label><br />
                        <%=message.from%><br />
                        <label>Subject:</label><br />
                        <%=message.subject%><br />
                        <label>Message:</label><br />
                        <%=message.content%><br />
                        <div onclick="deleteMessage('<%=message._id%>')"><a href="/#"><label style="color:red">Delete message  </label><span class="glyphicon glyphicon-trash" style="color:red"></span></a></div>
                    </div>
                    <%} });} if(count==0){%>
                    <label>No incoming Messages</label>
                    <%}%>
                    <label id="noMessages" style="display:none">No incoming Messages</label>
                </div>
            </div>
        </div>
    </div>
</div>

<header id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top" role="banner" style="background-color: whitesmoke">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><h1><img src="images/logonew.png" height="50" alt="logo"></h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <% if (user) { %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="scroll"><a href='/settings'>Hello <%= user.getFullName() %></a></li>
                    <% if (user && user.role == 'client') { %>
                    <li class="scroll" id="messageCount"><a onclick="openMessagesModal()"><%if(count>0){%><%=count%><%}else{%>No<%}%> incoming messages</a></li>
                    <li class="scroll"><a href='/index#replace'>Replacement offers </a></li>
                    <li class="scroll"><a href='/index#appTable'>Upcoming Appointments</a></li>
                    <%}%>
                    <% if (user && user.role == 'manager') { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Manage<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="scroll"><a href="/business-queue-status">Queue Status</a></li>
                                <li class="scroll"><a href="/assign-shifts">Assign Shifts</a></li>
                                <li class="scroll"><a href="/manage-shifts">Manage Shift Prototypes</a></li>
                                <li class="scroll"><a href="/manage-services">Manage Given Services</a></li>
                            </ul>
                        </li>
                    <% } %>
                    <li class="scroll"><a href='/logout'>Log out</a></li>
                </ul>
                <% } else { %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Sign Up<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="scroll"><a href="/client-sign-up">Client Sign Up</a></li>
                            <li class="scroll"><a href="/business-sign-up">Business Sign Up</a></li>
                        </ul>
                    </li>
                    <li class="scroll"><a href='/login'>Log in</a></li>
                </ul>
                <% } %>
            </div>
        </div>
    </div><!--/navbar-->
</header>

