<head>
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='js/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
    <script src='fullcalendar/locale/he.js'></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <script src='js/moment.min.js'></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <![endif]-->
</head>

<% layout('boilerplate') %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCio4YGG9Ls4kmhuazsucZSL5IZWqZl1a0"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="js/branch.js"></script>

<section style="margin-top: 40px">
    <!--SET APPOINTMENT MODAL-->
    <div class="modal fade" id="setAppintmnt" tabindex="-1" role="dialog" aria-labelledby="setAppintmntModalLabel">
        <div class="modal-dialog" role="document">
            <form id="setAppintmntForm" action="/set-appintmnt" method="post">
                <input id="dateTime" type="hidden" name="dateTime" value="@" />
                <input id="serviceId" type="hidden" name="serviceId" value="@" />
                <input id="branchId" type="hidden" name="branchId" value="@" />
                <input id="Time" type="hidden" name="Time" value="@" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Set appointment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">-->
                                        <!--Pick a time-->
                                        <!--<span class="caret"></span>-->
                                        </button>
                                        <select id="openSpots" onchange="setTime()" class="form-control"></select>
                                    </div>
                                    </br>
                                    <p>Don't you find a suitable time for the meeting? Click on the button below and you'll see if someone wants to change its appointment time. </p>
                                    <button type=button id="app_for_replace" onclick="showOfferedApps()" class="btn btn-default">Show appointments that are offered for replacement</button>
                                </div>
                                <div class="col-md-6">
                                    <span id="time_lbl" class="label label-info"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="set_appntmnt" type="submit" class="btn btn-warning">Add appointment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--***************************************************************************************-->

    <div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelledby="setAppintmntModalLabel">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Location</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="map_canvas" style="width:500px; height:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Switch Appointment MODAL-->
    <div class="modal fade" id="switchApp" tabindex="-1" role="dialog" aria-labelledby="setAppintmntModalLabel">
        <div class="modal-dialog" role="document">
            <form id="setAppintmntForm" action="/" method="post">
                <input id="dateTime" type="hidden" name="dateTime" value="@" />
                <input id="serviceId" type="hidden" name="serviceId" value="@" />
                <input id="branchId" type="hidden" name="branchId" value="@" />
                <input id="Time" type="hidden" name="Time" value="@" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Choose the time that works for you</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Service</th>
                                <th>Switch Request</th>
                            </tr>
                            </thead>
                            <tbody id="swith_table_body">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Appointments MODAL-->
    <div class="modal fade" id="clientApp" tabindex="-1" role="dialog" aria-labelledby="setAppintmntModalLabel">
        <div class="modal-dialog" role="document">
            <form id="setAppintmntForm" action="/" method="post">
                <input id="dateTime" type="hidden" name="dateTime" value="@" />
                <input id="serviceId" type="hidden" name="serviceId" value="@" />
                <input id="branchId" type="hidden" name="branchId" value="@" />
                <input id="Time" type="hidden" name="Time" value="@" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Choose an appointment that you want to switch</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Service</th>
                                <th>Send Request</th>
                            </tr>
                            </thead>
                            <tbody id="talble">
                                <%if (user && user.role=='client'){%>
                            <% var i = 0; %>
                            <% user.appointments.forEach(function(app){ %>
                            <%if (app.branch == branch._id.toString()){%>
                            <tr id="row_<%=i%>">
                                <td><%=moment(app.date_and_time).format( 'dddd, MMMM Do YYYY, h:mm:ss a')%></td>
                                <td><%=app.service.name %></td>
                                <td><button  onclick="appChoosen('<%= JSON.stringify(app)%>','<%=user._id.toString()%>')" type="button" class="btn btn-warning">Send request</button></td>
                            </tr>
                            <%i++%>
                            <% } %>
                            <% }); }%>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--******************Se*********************************************************************-->
    <!--***************************************************************************************-->
    <!--***************************************************************************************-->

    <div class="modal fade" id="reqSendSuccessfully" tabindex="-1" role="dialog" aria-labelledby="setAppintmntModalLabel">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Request successfully submitted</h4>
                </div>
                <div class="modal-footer">
                    <a type="button" href="/index" class="btn btn-default" >Go to Altor Home</a>
                </div>
            </div>
        </div>
    </div>
    <!--***************************************************************************************-->
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <section style="margin-top: -150px; margin-bottom: -50px">
                        <h1 class="title-one">Wellcome to <%= branch.name %> branch page</h1>
                    </section>
                    <!--<div class="col-lg-6">-->
                    <img src="<%=branch.picture_path%>" class="img-rounded img-responsive" alt="Branch logo" width="304" height="236" style="margin: 0 auto;">
                    <br />

                    <h3 class="heading animated bounceInDown">Contact information:</h3>
                    <p class="heading animated bounceInDown">Phone: <%= branch.phone %></p>
                    <p class="heading animated bounceInDown">Email: <%= branch.email %></p>
                    <p class="heading animated bounceInDown" id="address">Address: <%= address %> <button class=" btn btn-primarye glyphicon glyphicon-map-marker" type="button" onclick="showMap()">Show on map</button></p>

                    <!--</div>-->
                    <!--<div class="col-lg-6">-->
                    <!--<div id="map_canvas" class="col-lg-12 animated bounceInLeft" style="width:500px; height:300px"></div>-->
                    <div id="choose-service">
                        <!--<div class="col-lg-6" style="margin-top: 1cm" >-->
                        <div class="dropdown btn-group">
                            <button class="btn btn-default slider-btn animated bounceInUp" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Service
                                <!--<span class="caret"></span>-->
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% branch.services.forEach(function(service){ %>
                                <li> <a class="dropdown-item btn btn-default slider-btn" onclick="serviceHasChosen('<%=service.duration%>', '<%=service._id%>','<%=service.name%>' )" href="#sch"><%=service.name%></a></li>
                                <%})%>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>

        <br />
        <hr class="intro-divider">
        <section id="sch">
            <div class="row">
                <div class="text-center">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1 id="serviceChoosen" class="title-one" style="display: none">Possible appointments for: </h1>
                    </div>
                </div>
            </div>
            <!-- SERVICES CHOOSE -->
            <div id="appintmnt-app">
                <br /><br />
                <br>
                <!-- Calendar -->
                <div class="row">
                    <div class="col-lg-12">
                        <div id='calendar' style="display:none"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>