<% layout('calendar-template') %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCio4YGG9Ls4kmhuazsucZSL5IZWqZl1a0"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="js/branch.js"></script>

<!--SET APPOINTMENT MODAL-->
<div class="modal fade" id="setAppintmnt" tabindex="-1" role="dialog" aria-labelledby="setAppintmntModalLabel">
    <div class="modal-dialog" role="document">
        <form id="setAppintmntForm" action="/set-appintmnt" method="post">
            <input id="chosenDate" type="hidden" name="chosenDate" value="@" />
            <input id="serviceId" type="hidden" name="serviceId" value="@" />
            <input id="branchId" type="hidden" name="branchId" value="@" />
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Set appointment</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Start time:</label>
                                <input class="form-control timepicker" name="startHour">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Add appointment</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Wellcome to <%= branch.name %> branch page</h1>
            <h3>contact information:</h3>
            <h4>Phone: <%= branch.phone %></h4>
            <h4>email: <%= branch.email %></h4>
            <hr class="intro-divider">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-secondary btn-lg"
                    onclick='initialize("<%=address%>");'>
                הראה על המפה
            </button>
            <div id="map_canvas" class="col-lg-12" style="width:400px; height:400px; display:none"></div>
        </div>
        <div class="col-lg-6">
            <% if (user && user.role == 'client') { %>
            <button type="button" class="btn btn-secondary btn-lg" onclick= showApp()>
                Click to set an appointment
            </button>
            <% } else if (!user) { %>
            <div>
                Please <a href="/client-sign-up/">sign up</a> or <a href="/login/">login</a> to set an appointment
            </div>
            <% } %>
        </div>
    </div>
    <br />

    <!-- SERVICES CHOOSE -->
    <div id="appintmnt-app" style="display:none">
        <br /><br />
        <div id="choose-service" class="row">
            <div class="col-lg-12">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Choose service
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <% branch.services.forEach(function(service){ %>
                        <li><a onclick="serviceHasChosen('<%=service.duration%>', '<%=service._id%>')" href="#"><%=service.name%></a></li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <!-- Calendar -->
        <div class="row">
            <div class="col-lg-12">
                <div id='calendar' style="display:none"></div>
            </div>
        </div>
    </div>
</div>
