<% layout('boilerplate') %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title-one">Queue status</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 text-center">
            <h2 class="title-two">Currently Serving:</h2>
        </div>
            <% if (currentAppointments.length > 0) { %>
        <div class="col-md-12">
            <% for (var i = 0; i < currentAppointments.length; i++) { %>
            <div class="well well-lg">
                <p><strong><%= currentAppointments[i].customerName %></strong> <br> <%= currentAppointments[i].startTime %>
                    -<%= currentAppointments[i].endTime %></p>
            </div>
            <% } %>
        </div>
        <% } %>
           <% else { %>
            <p>You don't have any appointments right now! </p>
            <% } %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="title-two">Upcoming appointments today:</h2>
        </div>
    </div>
    <div class="row">
            <% if (upcomingAppointments.length > 0) { %>
            <% for (var j = 0; j < upcomingAppointments.length; j++) { %>
            <div class="col-md-4">
                <div class="well well-lg">
                <p><strong><%= upcomingAppointments[j].customerName %></strong><br> <%= upcomingAppointments[j].startTime %>
                    -<%= upcomingAppointments[j].endTime %></p>
                </div>
            </div>
            <% }
            }
            else { %>
        <div class="col-md-12 text-center">
            <p>You don't have any upcoming appointments today! </p>
            <% } %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <IFRAME marginWidth=0 marginHeight=0 frameBorder=0 border=0 HEIGHT=20 WIDTH=750 SCROLLING="NO" SRC="http://www.mivzakon.co.il/news/ticker_marquee.aspx?RequrlRss=news&numMivz=6&widthMq=750"></IFRAME>        </div>
    </div>
</div>