<% layout('boilerplate') %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title-one">Queue status</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Currently Serving:</h2>
            <% if (currentAppointments.length > 0) { %>
            <% for (var i = 0; i < currentAppointments.length; i++) { %>
            <p><%= currentAppointments[i].customerName %> <br> <%= currentAppointments[i].startTime %>-<%= currentAppointments[i].endTime %></p>
            <% }
            }
            else { %>
            <p>You don't have any appointments right now! </p>
            <% } %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Upcoming appointments today:</h2>
            <% if (upcomingAppointments.length > 0) { %>
            <% for (var j = 0; j < upcomingAppointments.length; j++) { %>
            <div class="col-md-4">
            <p><%= upcomingAppointments[j].customerName %> <br> <%= upcomingAppointments[j].startTime %>-<%= upcomingAppointments[j].endTime %></p>
            </div>
            <% }
            }
            else { %>
            <p>You don't have any upcoming appointments today! </p>
            <% } %>
    </div>
</div>